.DS_Store
ev_romanos/
__pycache__/
romanos_Ive1.py
romanos_Ive2.py
romanos_Ive3.py
romanos_Ive4.py
romanos_IveVF
romanos_grupo_Cive_v1.py
romanos_grupo_Cive_v2.py
romanos_grupo_Cjose.py
romaninverso.py
romaninverso2.py
romaninverso3.py
romanos_IveVF.py
romanos_IveVF2.py
test_romaninverso.py
.vscode/